@charset "UTF-8";

@media screen and (min-width: 500px) and (max-width: 1100px) {
    

    header {
        gap: 10px;
        font-size: 0.9em;
    }

    .mil-px-header {
        justify-content: center;
        gap: 10px;
    }

    header a {
        margin: 0;
    }

    section#inicio-com-bg {
        height: 60vh;
        margin-bottom: 150px;
    }

    div#titulo-texto {
        margin: 80px 0;
    }

    section#inicio-com-bg h1 {
        font-size: 3.5em;
        margin-bottom: 15px;
    }

    section#inicio-com-bg > .mil-px-bg > div#titulo-texto > p {
        font-size: 1.3em;
    }

    #inicio-com-bg aside {
        width: 250px;
        height: 200px;
        padding: 15px 20px;
    }

    #inicio-com-bg aside p {
        font-size: 0.8em;
    }

    #inicio-com-bg aside h3 {
        margin-bottom: 10px;
    }


    /* main */


    .mil-px-final {
        width: 750px;
    }

    section#lastest-news {
        width: 60%;
    }

    div.news {
        width: 350px;
        margin-bottom: 45px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.301);
    }

    img.pediatra {
        width: 350px;
        height: 200px;
        object-fit: cover;
    }

    div.news p {
        width: 350px;
        font-size: 0.9em;
    }

    div#ultima-news {
        position: absolute;
        margin-left: 52px;
    }

    /* departaments */

    section#departaments {
        width: 40%;
    }

    div.blocos-azuis {
        margin-bottom: 60px;
    }

    .bloco-azul {
        height: 135px;
    }

    /* footer */

    footer div#blocos {
        display: flex;
    }

    div#blocos h2 {
        font-size: 1.5em;
    }

    footer div.bloco1, footer div.bloco2, footer div.bloco3 {
        width: 250px;
        height: 120px;
        justify-content: center;
    }

    footer .mil-px-footer {
        width: 750px;
    }

    footer div#lastest-tweets {
        width: 250px;
        word-wrap: break-word
    }

    footer div#creditos{
        width: 750px;
    }

}