/* Typical Device Breakpoints:

-Pequenas telas: até 600px
-Celular: 600px até 768px
-Tablet: 768px até 992px
-Desktop: 992px até 1200px */

@charset "UTF-8";

@media screen and (min-width: 816px) and (max-width: 1100px) {
    

    header {
        gap: 10px;
        font-size: 0.85em;
    }

    .mil-px-header {
        width: 750px;
        justify-content: space-between;
        gap: 10px;
    }

    header a {
        margin: 0;
        padding: 8px;
    }

    section#inicio-com-bg {
        height: 60vh;
        margin-bottom: 150px;
    }

    div#titulo-texto {
        margin: 80px 0;
    }

    section#inicio-com-bg h1 {
        font-size: 3.5em;
        margin-bottom: 15px;
    }

    .mil-px-bg {
        width: 750px;
    }

    section#inicio-com-bg > .mil-px-bg > div#titulo-texto > p {
        font-size: 1.3em;
    }

    #inicio-com-bg aside {
        width: 250px;
        height: 200px;
        padding: 15px 20px;
    }

    #inicio-com-bg aside p {
        font-size: 0.8em;
    }

    #inicio-com-bg aside h3 {
        margin-bottom: 10px;
    }


    /* main */

    .mil-px-final {
        width: 750px;
    }

    section#lastest-news {
        width: 60%;
    }

    div.news {
        width: 335px;
        margin-bottom: 45px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.301);
    }

    img.pediatra {
        width: 335px;
        height: 200px;
        object-fit: cover;
    }

    div.news p {
        width: 335px;
        font-size: 0.9em;
    }

    div#ultima-news {
        position: absolute;
        margin-left: 102px;
    }

    /* departaments */

    section#departaments {
        width: 40%;
    }

    div.blocos-azuis {
        margin-bottom: 60px;
    }

    .bloco-azul {
        height: 135px;
    }

    /* footer */

    footer div#blocos {
        display: flex;
    }

    div#blocos h2 {
        font-size: 1.5em;
    }

    footer div.bloco1, footer div.bloco2, footer div.bloco3 {
        width: 250px;
        height: 120px;
        justify-content: center;
    }

    footer .mil-px-footer {
        width: 750px;
    }

    footer div#lastest-tweets {
        word-wrap: break-word;
        width: 240px;
    }

    footer div#creditos{
        width: 750px;
    }

}



@media screen and (max-width: 815px) {

    .mil-px-header {
        justify-content: space-between;
        width: 450px;
    }

    header #menu {
        display: none;
    }

    header #menu2 {
        display: block;
    }

    header #menu2 select {
        width: 200px;
        font-size: 17px;
        border-radius: 8px;
        padding: 5px;
        border: 1px solid var(--blue2);
    }

    section#inicio-com-bg {
        height: 40vh;
    }

    .mil-px-bg {
        width: 450px;
    }

    div#titulo-texto {
        margin: 40px 0;
    }

    div#titulo-texto h1 {
        font-size: 3em;
    }

    section#inicio-com-bg > .mil-px-bg > div#titulo-texto > p {
        font-size: 1.2em;
    }

    div.mil-px-bg div#blocos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
    }

    #inicio-com-bg aside {
        width: 450px;
        height: 200px;
    }

    #inicio-com-bg aside p {
        font-size: 0.9em;
    }

    #inicio-com-bg aside h3 {
        font-size: 1.2em;
    }

    main .mil-px-final {
        margin-top: 400px;
        flex-direction: column;
        align-items: center;
        width: 450px;
    }

    section#lastest-news {
        width: 100%;
        margin-top: 190px;
    }

    div.news {
        width: 450px;
    }

    div.news p {
        width: 450px;
        font-size: 1em;
    }

    section#lastest-news img.pediatra {
        width: 450px;
        height: 260px;
        object-fit: cover;
    }

    div#ultima-news {
        position: static;
        margin: 0;
    }

    /* departaments */

    section#departaments {
        margin-top: 50px;
        width: 100%;
    }

    div.bloco-azul {
        height: 210px;
    }

    /* footer */

    footer div#blocos {
        flex-direction: column;
        width: 450px;
        margin: auto;
    }

    footer div.bloco1, footer div.bloco2, footer div.bloco3 {
        width: 450px;
        height: 110px;
    }

    footer div.mil-px-footer {
        width: 450px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer div#lastest-tweets, footer div#medicenter-clinic, footer div#lastest-posts {
        width: 450px;
        padding-right: 20px;
    }

    footer div#creditos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
        padding-bottom: 20px;
        width: 450px;
    }

    footer div#creditos a {
        color: var(--blue2);
    }
}

@media screen and (max-width: 510px) {

    header {
        height: 150px;
    }

    div.mil-px-header {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    div.mil-px-header select#iheader-escolha {
        width: 320px;
    }

    div.mil-px-bg, div.mil-px-final, div.mil-px-footer, div.mil-px-header, div#creditos {
        max-width: 320px;
    }



    #inicio-com-bg aside {
        width: 320px;
    }

    div#titulo-texto h1 {
        font-size: 2em;
    }

    section#inicio-com-bg > .mil-px-bg > div#titulo-texto > p {
        font-size: 1em;
    }

    div#lastest-news {
        width: 320px;
    }

    section#lastest-news img.pediatra {
        width: 320px;
    }

    div.news {
        width: 320px;
    }

    div.news p {
        width: 320px;
        font-size: 0.9em;
    }

    section#departaments div.bloco-azul {
        height: 145px;
    }


    footer div#blocos {
        align-items: center;
        width: auto;
    }

    footer div.bloco1, footer div.bloco2, footer div.bloco3 {
        width: 320px;
    }

    footer div#lastest-tweets, footer div#medicenter-clinic, footer div#lastest-posts {
        width: 320px;
    }
}